.contact {
  padding: 100px 20px;
  background-color: #111;
  color: white;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.contact-container {
  max-width: 800px;
  width: 100%;
  margin: auto;
}

/* Title animation */
.contact-title {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.6s ease, transform 0.6s ease;
}

.contact-title.fade-in {
  opacity: 1;
  transform: translateY(0);
}

.contact h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: #fff;
}

/* Paragraph animation */
.contact-text {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.6s ease, transform 0.6s ease;
}

.contact-text.fade-in {
  opacity: 1;
  transform: translateY(0);
}

.contact p {
  font-size: 1.2rem;
  line-height: 1.6;
  color: #ddd;
  margin-bottom: 40px;
}

/* Contact Details */
.contact-details {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.6s ease, transform 0.6s ease;
}

.contact-details.fade-in {
  opacity: 1;
  transform: translateY(0);
}

.contact-details p {
  font-size: 1.2rem;
  color: #ddd;
  margin-bottom: 15px;
}

.contact-details strong {
  color: #fff;
}

/* Responsive Design */
@media (max-width: 768px) {
  .contact h2 {
    font-size: 2rem;
  }

  .contact p, .contact-details p {
    font-size: 1rem;
  }
}
