/* Sidebar Styles */
.sidebar {
    position: fixed;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: transparent;
    margin-left: 40px;
}

.follow-me {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    font-size: 1.2rem;
}

.follow-me p {
    margin: 0;
    writing-mode: vertical-rl;
    text-orientation: upright;
}

.line {
    width: 1px;
    height: 50px;
    background-color: #fff;
    margin: 10px 0;
}

.follow-me ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.follow-me ul li {
    margin: 15px 0;
}

.follow-me ul li a {
    color: white;
    font-size: 1.5rem;
    transition: color 0.3s ease;
}

.follow-me ul li a:hover {
    color: #FFD700;
}

.social-logo {
    width: 30px;
    height: auto;
    transition: transform 0.3s ease;
}

.follow-me ul li a:hover .social-logo {
    transform: scale(1.1);
}

/* Hide sidebar on screens smaller than 768px */
@media (max-width: 768px) {
    .sidebar {
        display: none;
    }
}
